<html>
<head>
<title>添加作者信息</title>

</head>
<body>
<div id="Layer1" style="position:absolute; width:100%; height:100%; z-index:-1">    
<img src="http://pic.pptbz.com/pptpic/201307/2013070221393564.jpg" height="100%" width="100%"/> 
</div> 
<center>
<h1>未收录该作者请继续请添加作者信息</h1>
<a href="/">点此返回首页</a>
<form action="/ada/" method="get">
  作者ID:&nbsp;&nbsp; <input type="text" name="I" value = "{{ID}}" />
  <br>
  作者姓名: <input type="text" name="N"  />
   <br>
  作者年龄: <input type="text" name="A"  />
   <br>
  所属国家: <input type="text" name="C"  />
   <br>
  <input type="submit" value="确认" />
</form>
</center>
</body>
</html>