<html>
<head>
<title>作者详情</title>
<style>
table,th,td
{
border:1px solid green;
}
th
{
background-color:green;
color:white;
}
</style>

</head>
<body>
<div id="Layer1" style="position:absolute; width:100%; height:100%; z-index:-1">    
<img src="http://pic.pptbz.com/pptpic/201307/2013070221393564.jpg" height="100%" width="100%"/> 
</div> 
<center>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<a href="/">点此返回首页</a>
<table>
<tr>
<th>ID</th>
<th>姓名</th>
<th>年龄</th>
<th>国家</th>
</tr>
<tr>
<td>{{Au.AuthorID}}</td>
<td>{{Au.Name}}</td>
<td>{{Au.Age}}</td>
<td>{{Au.Country}}</td>
</tr>
</table>
</center>
</body>
</html>