<html>
<head>
<title>Search</title>
<style>

</style>
</head>

<body >
<div id="Layer1" style="position:absolute; width:100%; height:100%; z-index:-1">    
<img src="http://pic.pptbz.com/pptpic/201307/2013070221393564.jpg" height="100%" width="100%"/> 
</div> 


<center>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>欢迎使用图书管理系统</h1>
	<form action="/search/" method="get">
		<input type="text" name="q">
		<input type="submit" value="Search">
		&nbsp;&nbsp;&nbsp;
		
	</form>
	<a href="/addbook/"><button type="button">添加书本入库</button></a>
	&nbsp;&nbsp;&nbsp;
	<a href="/showauthor/"><button type="button">显示作者信息</button></a>
	&nbsp;&nbsp;&nbsp;
	<a href="/showbook/"><button type="button">显示书籍信息</button></a>
</center>
</body>

</html>

